Source: wasta-core-wily
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-core-wily

Package: wasta-core-wily
Architecture: any
Depends: gir1.2-gda-5.0, gnome-control-center, gnome-shell, gnome-shell-extension-suspend-button, gnome-shell-extensions, gnome-shell-extensions-gpaste, gnome-tweak-tool, lightdm, moka-icon-theme, nautilus-admin, wasta-backup, wasta-menus, wasta-offline, wasta-remastersys, wasta-resources-core, wmctrl, xmlstarlet, ${shlibs:Depends}, ${misc:Depends}
Conflicts: gdm
Description: Wasta-Linux 15.10 Core
 Wasta-Linux core system setup package for Ubuntu 15.10 'wily'
 .
 This package should be installed on any machine running Wasta-Linux 15.10
